include ../bemto/bemto.pug

+b('footer').footer
  .wrapper
    +e.P.copyright &#169; 2013 - 2015
    +e.dev
      +e.P.text Здесь наследили&nbsp;
        span соискатели:)
      +e.A.href(href="#")
        +e.SVG.icon(width='28' height='33')
          use(xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-cp-logo')
