include ../bemto/bemto.pug

+b('header').header
    //Добавить свгшки и переделать, 10.10 разобраться, как внедрять свг в паг

    +e.A(href='#').logo
        svg(width='40' height='55')
            use(xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-logo')
    h1.title Adventure
    p.text Оставь свой след, где его ещё нет...
    //возможно, стоит изменить структуру для организации