include ../bemto/bemto.pug

+b('header').header
  .wrapper
    +e.A(href='#').logo
      +e.SVG.icon(width='40' height='55')
        use(xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-logo')
    +e.text-block
      +e.H1.title Adventure
      +e.P.text Оставь свой след, где его ещё нет...