include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        +b('section').text
          h1 Типовая текстовая
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim / 
          +e.content
            p Кубань – самый южный регион России. Кубанское светлое солнце, плодородная земля, ласковые ветры и теплые летние дожди создают самый благоприятный мир для роста и созревания кубанских овощей, ягод и фруктов. Они впитывают в себя 
              a(href="#") всё лето
              |. Все восходы и закаты, все светлые дни и теплые ночи, всё плодородие и щедрость кубанской земли. Именно Кубанские фрукты и ягоды мы берем для создания соков и нектаров «Дары Кубани». 
            p Кубань – это лето России, наполненное солнцем, морем, южным гостеприимством и фруктовым изобилием. В соках и нектарах «Дары Кубани» мы сохраняем это лето с его теплым морским ветром, ярким южным солнцем и ароматом свежих кубанских фруктов. Наши соки наполнены до краев «вкусом кубанского солнца».
            img(src="img/text.jpg")
            p Они впитывают в себя всё лето. Все восходы и закаты, все светлые дни и теплые ночи, всё плодородие и щедрость кубанской земли. Именно кубанские фрукты и ягоды мы берем для создания соков и нектаров «Дары Кубани».
            h2 Очень большой заголовок второго уровня
            p Кубань – это лето России, наполненное солнцем, морем, южным гостеприимством и фруктовым изобилием. В соках и нектарах «Дары Кубани» мы сохраняем это лето с его теплым морским ветром, ярким южным солнцем и ароматом свежих кубанских фруктов. Наши соки наполнены до краев «вкусом кубанского солнца». Кубань – самый южный регион России.
            ol
              li Яблочный сок,
              li нектар мультифруктовый,
              li нектар апельсиновый,
              li сок томатный восстановленный,
              li нектар персиково-яблочный с мякотью,
              li нектар яблочно-виноградный,
              li нектар яблочно-вишневый осветленный.
            p Кубанское светлое солнце, плодородная земля, ласковые ветры и теплые летние дожди создают самый благоприятный мир для роста и созревания кубанских овощей, ягод и фруктов. Они впитывают в себя всё лето. Все восходы и закаты, все светлые дни и теплые ночи, всё плодородие и щедрость кубанской земли. Именно кубанские фрукты и ягоды мы берем для создания соков и нектаров «Дары Кубани».
            ul
              li Яблочный сок,
              li нектар мультифруктовый,
              li нектар апельсиновый,
              li сок томатный восстановленный,
              li нектар персиково-яблочный с мякотью,
              li нектар яблочно-виноградный,
              li нектар яблочно-вишневый осветленный.
            p Они впитывают в себя всё лето. Все восходы и закаты, все светлые дни и теплые ночи, всё плодородие и щедрость кубанской земли. Именно кубанские фрукты и ягоды мы берем для создания соков и нектаров «Дары Кубани».
            h3 Очень-очень большой заголовок третьего уровня
            p Все восходы и закаты, все светлые дни и теплые ночи, всё плодородие и щедрость кубанской земли. Именно кубанские фрукты и ягоды мы берем для создания соков и нектаров «Дары Кубани». Кубань – это лето России, наполненное солнцем, морем, южным гостеприимством и фруктовым изобилием. В соках и нектарах «Дары Кубани» мы сохраняем это лето с его теплым морским ветром, ярким южным солнцем и ароматом свежих кубанских фруктов. Наши соки наполнены до краев «вкусом кубанского солнца».
            table
              tbody
                tr
                  td Продукт
                  td Объем продаж, тонн
                  td Старт продаж
                tr
                  td Яблочный сок
                  td 2380
                  td Январь 2019
                tr
                  td Нектар мультифруктовый
                  td 1920
                  td Март 2019
                tr
                  td Нектар апельсиновый
                  td 1780
                  td Январь 2019
                tr
                  td Сок томатный восстановленный
                  td 2500
                  td Июнь 2019
                tr
                  td Нектар персиково-яблочный с мякотью
                  td 1470
                  td Июнь 2019
                tr
                  td Нектар яблочно-виноградный
                  td 2380
                  td Март 2019
                tr
                  td Нектар яблочно-вишневый
                  td 1920
                  td Январь 2019
            p Они впитывают в себя всё лето. Все восходы и закаты, все светлые дни и теплые ночи, всё плодородие и щедрость кубанской земли. Именно кубанские фрукты и ягоды мы берем для создания соков и нектаров «Дары Кубани».
       
    include layout/__footer
    include layout/__scripts