.footer 
  bgc: $darkgrey;
  color: $white;

  .wrapper 
    min-height: 80px;
    display: flex;
    justify-content: space-between;

  &__dev
    display flex
    flex-drection row

  &__copyright
    margin auto 0
    fontify 16px 400 17px
    font-family $os

