.wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
  width: 1440px;
  padding: 0 89px;
}

body {
  min-height: 100vh;
}

main .wrapper {
  display: flex;
  flex-direction: column;
}