.header {
    bgc $darkgrey
    color $white
    min-height 80px
    display flex

    .wrapper {
        display flex
        flex-direction row
        position relative
        mt auto 
        mb auto
    }
    
    &__icon {
        fill $grey
    }

    &__text-block {
        ml 20px
    }

    &__title {
        font-family $os
        fontify 32px 400 17px
        text-transform lowercase
        margin-top 12px
        margin-bottom 5px
    }

    &__text {
        color $lightgrey
        fontify 11px 400 16px
        font-family $fps
        text-transform lowercase
    }
}