.cards 
    width 1302px
    height 880px
    box-sizing border-box
    mr -10px
    mb 80px

    &__item
        background-size cover

    &__item_preview 
        background-image url('../../img/preview.jpg')
        background-size cover

    .swiper-slide 
        height 200px

    &__item 
        bgc $grey
        width 300px
        height 200px
        box-sizing border-box
        display inline-block
        margin-right 20px
        margin-bottom 20px

        &_preview 
            width 620px
            height 420px
        

    &__list-title 
        color $white
        fontify 40px 400 17px
        font-family $os
        mt 86px
        ml 25px
        mb 40px
    

    &__list 
        ml 43px
    
    
    &__list-item 
        color $white
        fontify 20px 400 17px
        font-family $os
        mb 30px
    

    &__text 
        color $white
        fontify 36px 400 17px
        text-align center
        margin-top 30%
        font-family $os
    



@media (max-width 1300px) 
  .cards 
    width 960px
    margin 0 auto
  


@media (max-width 960px) 
  .cards 
    width 640px
  


@media (max-width 660px) 
  .cards 
    width 320px
    mr auto

    &__item_preview 
        width 300px
        height 420px
        background-position-x center
    
  


@media (max-width 320px) 
  .cards
    width 320px
    mb 0

    &__item 
        mr 0
        width 320px
    
  
