.cards {
    width: 1302px;
    height: 880px;
    box-sizing: border-box;

    &__item_cuba .swiper-slide {
        background-image: url('../../img/cuba.jpg');
        background-size: cover;
    }

    &__item_russia .swiper-slide {
        background-image: url('../../img/russia.jpg');
        background-size: cover;
    }

    &__item_preview {
        background-image: url('../../img/preview.jpg');
        background-size: cover;
    }

    &__item_england .swiper-slide {
        background-image: url('../../img/england.jpg');
        background-size: cover;
    }

    &__item_norway .swiper-slide {
        background-image: url('../../img/norway.jpg');
        background-size: cover;
    }

    &__item_switzerland .swiper-slide {
        background-image: url('../../img/switzerland.jpg');
        background-size: cover;
    }

    &__item_china .swiper-slide {
        background-image: url('../../img/china.jpg');
        background-size: cover;
    }

    &__item_australia .swiper-slide {
        background-image: url('../../img/australia.jpg');
        background-size: cover;
    }

    &__item_india .swiper-slide {
        background-image: url('../../img/india.jpg');
        background-size: cover;
    }

    &__item_germany .swiper-slide {
        background-image: url('../../img/germany.jpg');
        background-size: cover;
    }

    &__item_japan .swiper-slide {
        background-image: url('../../img/japan.jpg');
        background-size: cover;
    }

    &__item_finland .swiper-slide {
        background-image: url('../../img/finland.jpg');
        background-size: cover;
    }

    &__item_newZealand .swiper-slide {
        background-image: url('../../img/newzealand.jpg');
        background-size: cover;
    }

    .swiper-slide {
        height: 200px;
    }

    &__item {
        bgc: $grey;
        width: 300px;
        height: 200px;
        box-sizing: border-box;
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;

        &_preview {
            width: 620px;
            height: 420px;
        }
    }

    &__list-title {
        color $white
        fontify 40px 400 17px
        font-family $os
        mt 86px
        ml 25px
        mb 40px
    }

    &__list {
        ml 43px
    }
    
    &__list-item {
        color $white
        fontify 20px 400 17px
        font-family $os
        mb 30px
    }

    &__text {
        color: $white;
        fontify: 36px 400 17px;
        text-align: center;
        margin-top: 30%;
        font-family $os
    }

}