@font-face {
  font-family: 'NewBaskervilleC';
  src: url('fonts/NewBaskervilleC.woff2') format('woff2'),
    url('fonts/NewBaskervilleC.woff') format('woff'),
    url('fonts/NewBaskervilleC.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack';
  src: url('fonts/LifehackItalic-Bold.woff2') format('woff2'),
    url('fonts/LifehackItalic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}